apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: {{ etcd_backup_pvc }}
spec:
  accessModes:
  - ReadWriteMany
  resources:
    requests:
      storage: {{ etcd_backup_pvc_size }}
  volumeName: {{ etcd_backup_pv }}
  storageClassName: ""