apiVersion: v1
kind: PersistentVolume
metadata:
  name: {{ etcd_backup_pv }}
spec:
  accessModes:
  - ReadWriteMany
  capacity:
    storage: {{ etcd_backup_pv_size }}
  nfs:
    path: {{ etcd_backup_location_path }}
    server: {{ etcd_backup_location_server }}
  persistentVolumeReclaimPolicy: Retain
  volumeMode: Filesystem