kind: ClusterRoleBinding
apiVersion: rbac.authorization.k8s.io/v1
metadata:
  name: ocp-cluster-admin-binding
subjects:
  - kind: ServiceAccount
    name: {{ ocp_service_account_name }}
    namespace: {{ ocp_service_account_namespace }}
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: admin
